/******************TAG SELECTORS**********************/
h1 {

  font-size: 90px;
  font-family: verdana, sans-serif;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #F96666;
}

h2{
 font-family: Arial;
 font-weight: bold;

}



p{
  font-family: 'Passions Conflict', cursive;
  font-weight:500;
  color: #40514E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FA7070;

}
hr{

  border: dotted 9px;
  color: #D0B8A8;
  width: 60px;
  border-bottom: none;
  height: none;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.profile.p{
  margin-bottom: 0;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
/******************CLASS SELECTORS*************************/
.top-container {
  background-color: #A7FFE4;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 170px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 45px;

}
.gear{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.computer{
  border-radius: 100%;
  width:25%;
  float: left;
  margin-right: 30px;
  margin-top: 0px;
}
.footer-link{
  color: #11999E;
}
.profile{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.skill-row{
  display: inline-block;
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.my-skills{
  margin-top: 50px;
  size: 200px;




}
.skills{

}
.profile-img{
  height: 150px;
  width: 150px;
  margin-top: 35px;
}
.profile-p{
  color: #40514E;
  line-height: 2;
  margin-bottom: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 35px 0 0 0;
  margin-top: 25px;
}
.fotter-link{
  padding: 10px;
}
.contact-me{
  padding: 35px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
  background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.end-sentence{
  padding-bottom: 25px;

}
.copyright{
  color: #EAF6F6;
  font-weight: lighter;
  font-size: 0.75rem;
  padding: 20px 0;
  margin-bottom: 0px;
}
